body {
  background-color: hsla(220, 15%, 55%, .2);
}
.blue-background {
  position: relative;
  top: 25px;
  background-color: hsl(212, 45%, 89%);
  width: 80%;
  height: 600px;
  margin: 3rem auto;
  box-shadow: 3px 3px 18px 5px hsla(220, 15%, 55%, .2);
}
.qr-background {
  position: absolute;
  width: 250px;
  height: 400px;
  padding: 10px;
  background-color: white;
  border-radius: 3%;
  top: 100px;
  left: 40%;
}
.qrcode-image {
  width: 100%;
  height: 60%;
  border-radius: 3%;
}
.p1, .p2 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.p1 {
  font-weight: bold;
}
.p2 {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
  .blue-background {
    width: 100%;
  }
  .qr-background {
    left: 10%;
  }
}
@media (max-width: 750px) and (min-width: 375px)  {
  .qr-background {
    left: 20%;
  }
}
@media (max-width: 1440px) and (min-width: 750px) {
  .qr-background {
    left: 30%;
  }
}
